{% extends 'layout.twig' %}

{% block title %}
    Customers
{% endblock %}

{% block contentTitle %}
  <h2>Welcome to Sunshine Car Rental!</h2>
{% endblock %}

{% block content %}
  <img src="http://car-rental.test/img/peter-broomfield-m3m-lnR90uM-unsplash.jpg" alt="Car">

{% endblock %}