:root {
  --main-bg-color: rgb(245, 245, 245);
  --dark-bg-color: darkslategrey;
  --color: antiquewhite;
  --bso: 4px; /* box-shadow-offset */
  --bsl: rgba(255, 255, 255, 1); /* box-shadow-light color */
  --bsd: rgbs(0, 0, 0, 0.2); /* box-shadow-dark color */
  --font-family: Arial, Helvetica, sans-serif;
}

html * {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

header h1 {
  text-align: center;
}

header a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--color);
}

nav {
  border-bottom: 3px solid var(--dark-bg-color);
  padding: 1em;
  text-align: center;
}

nav form {
  display: inline;
  margin-right: 1em;
}

main img {
  margin-top: 1em;
  width: 100%;
}

input[type='submit'] {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: var(--bso) var(--bso) var(--bso) 0 var(--bsd),
    -var(--bso) -var(--bso) -var(--bso) 0 var(--bsl);
  padding: 0.5em;
}

input[type='submit']:hover {
  background-color: rgb(154, 240, 154);
  cursor: pointer;
}

input[type='submit']:hover:disabled {
  background-color: transparent;
  cursor: default;
}

main {
  margin: 1em auto;
  max-width: 960px;
}

main h2 {
  font-size: 1.2em;
  text-align: center;
}

footer {
  bottom: 0;
  position: absolute;
}

.background-dark {
  background-color: var(--dark-bg-color);
  color: var(--color);
  padding: 1em;
  width: 100%;
}

.copyright {
  font-size: 1em;
  text-align: right;
}

table {
  margin-bottom: 1em;
}

thead {
  background-color: var(--dark-bg-color);
  color: antiquewhite;
}

tr:nth-child(even) {
  background-color: #ddd;
}

th,
td {
  padding: 0.3em 0.5em;
}

.enterform {
  max-width: 400px;
  margin: 1em auto;
  background: #fff;
  border-radius: 2px;
  padding: 1.1em;
}

.enterform ul {
  list-style: none;
}

.enterform li {
  display: block;
  padding: 0.5em;
  border: 1px solid #dddddd;
  margin-bottom: 1.5em;
  border-radius: 3px;
}

.enterform li:last-child {
  border: none;
  margin-bottom: 0;
  text-align: center;
}

.enterform li > label {
  display: block;
  float: left;
  margin-top: -1.2em;
  background: #fff;
  height: 0.9em;
  padding: 2px 5px 2px 5px;
  color: #222;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}

.enterform input[type='text'] {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 1.8em;
  line-height: 1.8em;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.enterform select {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 1.8em;
  line-height: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  text-indent: 3em;
}

.enterform input[type='text']:focus,
.enterform select:focus {
  border: solid 2px lightskyblue;
}

.enterform li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.enterform input[type='submit'] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 3px;
  color: #d2e2ff;
}

.enterform input[type='submit']:hover {
  background: #6b9fff;
  color: #fff;
}
